/*Importar texto */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');


/*----------------------1. Estilos globales.----------------------*/
:root{
    --primario: #5722CD;
    --primario-azul_oscuro: #4B49E8;
    --secundario: #ED4385;
    --texto: #7A7A7A;
    --text-negro: #0c0c0c;
    --text-blanco: #f2f0ff;
    --gris: #F3F6F9;
}

* {
    margin: 0;
    padding: 0;
    /*Dit is belangrijk zodat de breedtes en hoogtes van elementen worden berekend INCLUSIEF padding en borders */
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
}

/*-----------------------------2. Tipografía.-----------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-family: Merriweather, 'Times New Roman', serif;
}

h1, h2 {
    font-size: 46px;
    padding: 16px 0;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 32px;
    padding: 12px 0;
    margin: 24px 0;
}

h4::after {
    display: block;
    content: '';
    margin: 24px 0 0;
    width: 57px;
    height: 6px;
    background-image: url(./assets/squiggle_line.svg);
}

h5 {
    font-size: 32px;
    padding: 12px 0;
}

h6 {
    font-size: 32px;
    line-height: 1.5;
    padding: 12px 0;
}

p {
    margin: 12px 0;
}


/*-----------------------------3. Layout.--------------------------------*/
/*-----------------------------3.1 Reutilizables.-----------------------*/

.contenedor_externo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: yellow 4px solid;
}
.contenedor_interno{
    border: deeppink 4px dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    flex-basis: 1400px;
    flex-shrink: 1;
    flex-grow: 0;
    margin: 0 20px;
}
.restricción_texto_por_defecto{
    border: blue 4px solid;
    max-width: 850px;
    text-align: center;
}
.area_padding_por_defecto{
    border: orangered 4px dashed;
    padding: 200px 0 100px 0;
}

.ángulo_superior{
    position: absolute;
    top: 0;
    left: 0;
    border-top: 50px solid darkorange;
    border-left: 100vw solid transparent;
    z-index: 1;
}
.ángulo_inferior{
    border-bottom: 50px solid darkorange;
    border-right: 100vw solid transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

/*-----------------------------3.2 Otros.------------------------------*/
a,
a:,
a:link {
    text-decoration: none;
    color: var(--primario);
}
button{
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    background-color: var(--secundario);
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 8px 4px rgba(0, 0, 0, .2);
    padding: 25px 40px;
    margin:28px 0;
}
button:hover{
    cursor: pointer;
}
/*-----------------------------4. Areas.--------------------------------*/

/*----------------------------4.1 Encabezado.------------------------*/
#encabezado{
    background: var(--primario);
    background: linear-gradient(129deg, var(--primario) 0%, var(--primario) 26%, var(--primario) 100%);
    color: white;
    padding: 30px 0;
    position: relative;
}

#encabezado::before{
    content: "";
    display: block;
    width: 78px;
    height: 100px;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 39px);
    background-image: url(./assets/squiggle_line_stripe.svg);
}
#encabezado::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url(assets/noise-texture.png);
    background-position: top center;
    background-size: auto;
}
.contenido_navegador{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}
.contenido_navegador ul{
    flex-basis: 400px;
    flex-shrink: 1;
    flex-grow: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenido_navegador a{
    color: white;
}

.contenido_navegador_hero{
    padding: 100px 0;
    margin-bottom: 88px;
    font-size: 28px;
}

.header__squiggle {
    display: block;
    width: 78px;
    height: 100px;
    margin: 60px 0 0 0;
    position: absolute;
    bottom: 0;
    /*Hiermee zeggen we: plaats 'm horizontaal gezien op 50% van de breedte,
    MAAR wel min de helft van de breedte van de afbeelding zelf (width: 78px) */
    left: calc(50% - 39px);
    background-image: url(./assets/squiggle_line_stripe.svg);
}


/*----------------------------4.2 Introducción.-----------------------*/
#intro{
    background-color: white;
    color:var(--primario);
    position: relative;
}
#intro::before{
    display: block;
    content: "Hola";
    color: var(--text-blanco);
    font-size: 550px;
    opacity: 0.9;
    font-weight: 600;
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    letter-spacing: -18px;
}

.intro_link{
    color: var(--text-negro);
    font-weight: 500;
    margin-top: 100px;
}

/*-----------------------------4.3 Trabajo.---------------------------*/
#trabajo{
    background-color: var(--gris);
    position: relative;
    padding: 100px 0 0 0;
}
#trabajo::before{
    display: block;
    content: "trabajo";
    color: white;
    font-size: 450px;
    font-weight: 600;
    left:0;
    top: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    letter-spacing: -18px;
}
.articulo_trabajo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 100px 0;
}

.articulo_trabajo:nth-of-type(odd){
    flex-direction: row-reverse;
}

.marco_imagen{
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

.marco_imagen img{
    width: 100%;
    box-shadow: 0 32px 28px -10px rgba(0, 0, 0, 0.22);
}

.contenedor_info_articulo_trabajo{
    flex-basis: 480px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 50px 50px 50px;
    border: 1px red solid;
}


.articulo_trabajo__title-squiggle{
    border:  1px green solid;
    margin-top: 24px;
    width: 57px;
    height: 6px;
    background-image: url(./assets/squiggle_line.svg);
}

.contenedor_info_articulo_trabajo{
    font-weight: 400;
    margin: 50px 0;
}

.link_proyecto_trabajo{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    }

.link_proyecto_trabajo::after{
    display: inline-block;
    content: "";
    width: 30px;
    height: 3px;
    background-color: red;
    margin: 0 0 4px 12px;
    transition: all 0.2s ease-in-out;
}
.link_proyecto_trabajo:hover::after{
    width: 55px;
}

/*-----------------------------4.4 Servicios.-------------------------*/
#servicios{
    background-color: white;
    padding: 100px 0 0 0;
    position: relative;
    border: red solid 3px;
}

#servicios::before{
    display: block;
    content: 'servicios';
    color: var(--text-faded);
    font-size: 300px;
    opacity: 0.1;
    font-weight: 600;
    left: 0;
    top: 50px;
    position: absolute;
    text-align: center;
    width: 100%;
    letter-spacing: -5px;
}

#servicios > div{
    border: solid black 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.titulo_servicio{
    flex-basis:384px;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: white;
    border: solid 1px var(--primario);
    box-shadow: 0 11px 16px 0 rgba(0, 0, 0, 1);
    color: var(--texto);
    font-size: 16px;
    }

.titulo_de_servicio_titulo{
    color: var(--primario);
    font-size: 24px;
    }
.icono_servicio_titulo{
    width: 80px;
}


/*-----------------------------4.5 Contacto.-------------------------*/
#contacto {
    background-color: var(--primario-azul_oscuro);
    background: linear-gradient(100deg, var(--primario-azul_oscuro) 0%, var(--primario) 100%);
    color: white;
    position: relative;
}
#contacto::after{
    content: "mi";
    color:yellow;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url(assets/noise-texture.png);
    background-position: top center;
    background-size: auto;
}
.formato_contenido_contacto{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}
.formato_contenido_contacto input,
.formato_contenido_contacto textarea{
    background-color: white;
    border: 1px solid var(--texto);
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    padding: 20px;
    display: block;
    font-size: 16px;
    color: var(--texto);
    width: 100%;
}
.formato_contenido_contacto input::placeholder,
.formato_contenido_contacto textarea::placeholder{
    color: var(--texto);
}
.formato_contenido_contacto label{
    font-size: 16px;
    font-weight: 600;
    padding: 20px 0;
    }

.formato_contenido_contacto button{
    width: 200px;
    align-self: center;
}

/*----------------------------4.6 Pie de pagina.--------------------*/
#pie_pagina{
    background-color: #0c0c0c;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}
/*5.--------------------------Media Queries.-----------------------*/
@media  media and (max-width: 576px) {
    h1, h2{
        font-size: 36px;
        padding: 16px 0;
    }
    h3{
        font-size: 26px;
    }
    h6{
        font-size: 22px;
        line-height: 1.5;
        padding: 12px 0;
    }
    .contenido_navegador{
        justify-content: center;
    }

    .contenido_navegador a{
        font-size: 16px;
        font-weight:600;
    }

    #intro > div{
        padding: 100px 0;
    }
    #intro::before{
        font-size: 150px;
        letter-spacing: -10px;
        top: 40px;

    }
    .intro_link{
        margin: 50px 0 0 0;
    }
    #trabajo::before{
        font-size: 150px;
        top: 80px;
        letter-spacing: -5px;
    }
    #trabajo{
        padding: 0;
    }
    .articulo_trabajo:nth-of-type(odd){
    lex-direction: column;
    margin:0;
}
    .articulo_trabajo{
        flex-direction: column;
        margin:0;
    }
    .marco_imagen{
        flex-basis:auto;
    }
    .contenedor_info_articulo_trabajo{
        padding: 0 0 50px 0;
        flex-basis: auto;
    }

    #servicios{
        padding: 50px 0;
    }
    #servicios::before{
        font-size: 100px;
        top: 70px;
    }
    #servicios > div{
        padding: 100px 0 50px 0;
    }

    #contacto{
        padding: 100px 0 0 0;
    }

}
